.centered {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing:border-box;
}

.AR{
  position: relative;
  top: 400px; 
  left: 400px;
}
.a-canvas{
  position: relative;
  top: 400px; 
  left: 400px;
}
